body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

header{
    /*border:2px solid red;*/
    display: flex;
    justify-content:space-between;
    align-items: center;
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 3px grey;
}

button:hover {
    background-color: #218838;
}

button:active {
    transform: scale(0.9);
}



ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    /*border: 1px solid #ddd;*/
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 3px grey;
    cursor: pointer;
}

li.done {
    text-decoration: line-through;
}

.priority {
    display: flex;
}

.priority span {
    cursor: pointer;
    color: gold;
    font-size: 18px;
    margin-left: 5px;
}

.priority span.inactive {
    color: lightgray;
}

.actions {
    display: flex;
}

.actions button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.actions button.edit {
    color: blue;
}

.actions button.delete {
    color: red;
}