@media screen and (max-width: 768px) {
    .container {
        /*border: 3px solid black;*/
        width: 100%;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
        text-shadow: 1px 1px 2px grey;
    }

    /*.iframe {*/
        /*top: 3rem;
        left: 5rem;*/
        /*margin: 3rem auto;

    }*/


    ul li {
        font-size: 1.1rem;
    }

}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    /*border: 2px solid black;*/
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.content{
    /*border:2px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 224, 224);
    width: 100%;
    font-family: "escribe";
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: none;
    text-align: center;
    height: 100%;
}

#cabecalho {
    /*border:2px solid grey;*/
    margin-top:5px;
    margin-bottom: 5px;
}

header {
    /*border:2px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    /*position:fixed;*/
}

h1 {
    text-align: center;
}

.input-group {
    /*border:2px solid blue;*/
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 3px grey;
}

button:hover {
    background-color: #218838;
}

button:active {
    transform: scale(0.9);
}

.folha {
     /*border: 2px solid red;*/
     /*background-color: #f0f0f0;*/
     background-color:ghostwhite;
     border-radius: 8px;
     padding: 8px;
     margin: 30px auto;
     width: 92vw;
     max-width:400px;
     height: 100vh;
     /*height: auto;*/
     text-align: justify;     
     overflow: auto;
     box-shadow: 8px 8px 15px black;
     z-index: 1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;   
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-size: 1.6rem;*/
    box-shadow: 2px 2px 3px grey, -1px -1px 3px grey;
    cursor: pointer;
}

li.done {
    text-decoration: line-through;
}

.priority {
    display: flex;
}

.priority span {
    cursor: pointer;
    color: gold;
    font-size: 18px;
    margin-left: 5px;
}

.priority span.inactive {
    color: lightgray;
}

.actions {
    display: flex;
}

.actions button {
    margin-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.actions button.edit {
    color: blue;
}

.actions button.delete {
    color: red;
}

/*---------------------------------------------------------------------*/
